<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="{% static './images/logo-rounded.png' %}" type="image/x-icon"
    style="border-radius: 13px;" />
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
  <title>GuideBook</title>
</head>

<body>
  {% include 'navbar.html' %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  {% block content %}

  {% endblock content %}

  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>