{% extends 'main.html' %}
{% block content %}
<!-- <p>{{tour.name}}</p> -->
<main class="profile-page layout layout--2">

    <div class="roomListRoom" style="width:90%;margin-left: auto;margin-right: auto;display: block;text-align: center;">
        <div>
            <img src="{{tour.image.url}}" alt="img" style="border-radius: 5px">
        </div>
        <div class="roomListRoom__content">
            <a>{{tour.name}}</a>
            <p>
                {{tour.description}}
            </p>
        </div>
        <div class="roomListRoom__meta">
            <a class="roomListRoom__joined">
                <p class="roomListRoom__topic"> Minimum Price: {{tour.price | stringformat:'d'}} $</p>
            </a>
            <p class="roomListRoom__topic">{{tour.days.count}} Days</p>

        </div>
    </div>

    {% for day in days %}
    <div class="roomListRoom" style="width:90%;margin-left: auto;margin-right: auto;display: block;text-align: center;">
        <div>
            <img src="{{day.image.url}}" alt="img" style="border-radius: 5px">
        </div>
        <div class="roomListRoom__content">
            {% for room in day.activities.all %}
            <p>{{room.name}}</p>
            {% if day.activities.count > 1 %}
            <br>
            {% endif %}
            {% endfor %}
        </div>
        <div class="roomListRoom__meta">
            <p class="roomListRoom__topic">{{day.name}}</p>
            <div>
                {% for room in day.rooms.all %}
                <a class="roomListRoom__topic" href="{% url 'room' room.id %}"> {{room.name}} </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</main>
<!-- <script src="script.js"></script> -->
{% endblock %}