{% extends 'main.html' %}
{% block content %}
<!-- <p>{{tour.name}}</p> -->
<main class="profile-page layout layout--2">

    <div class="roomListRoom" style="width:90%;margin-left: auto;margin-right: auto;display: block;text-align: center;">
        <div class="slideshow-container fade">
            {% for image in tour.images.all %}
            <div class="Containers">
                {% if image != tour.images.all.first %}
                <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
                {% endif %}
                <img src="{{image.image.url}}" alt="img" style="width:100%; border-radius: 5px">
                <div class="MessageInfo">{{image.message}}</div>
                <div class="Info">{{image.info}}</div>
                {% if image != tour.images.all.last %}
                <a class="forward" onclick="plusSlides(1)">&#10095;</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="roomListRoom__content">
            <a>{{tour.name}}</a>
            <p>
                {{tour.description}}
            </p>
        </div>
        <div class="roomListRoom__meta">
            <a class="roomListRoom__joined">
                <p class="roomListRoom__topic"> Minimum Price: {{tour.price | stringformat:'d'}} $</p>
            </a>
            <p class="roomListRoom__topic">{{tour.days.count}} Days</p>

        </div>
    </div>

    {% for day in days %}
    <div class="roomListRoom" style="width:90%;margin-left: auto;margin-right: auto;display: block;text-align: center;">
        <div class="slideshow-container fade">
            {% for image in day.images.all %}
            <div class="Containers Carousel">
                <a class="Back" onclick="plusSlides(-1)">&#10094;</a>
                <img src="{{image.image.url}}" alt="img" style="width:100%; border-radius: 5px">
                <div class="MessageInfo">{{image.message}}</div>
                <div class="Info">{{image.info}}</div>
                <a class="forward" onclick="plusSlides(1)">&#10095;</a>
            </div>
            {% endfor %}
        </div>
        <div class="roomListRoom__content">
            {% for room in day.activities.all %}
            <p>{{room.name}}</p>
            {% if day.activities.count > 1 %}
            <br>
            {% endif %}
            {% endfor %}
        </div>
        <div class="roomListRoom__meta">
            <a href="{% url 'day' day.id %}" class="roomListRoom__topic">{{day.name}}</a>
            <div>
                {% for room in day.rooms.all %}
                <a class="roomListRoom__topic" href="{% url 'room' room.id %}"> {{room.name}} </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="roomListRoom" style="width:90%;margin-left: auto;margin-right: auto;display: block;text-align: center;">
        <div class="roomListRoom__content">
            <a>Price includes:</a>
            <p>All transportation, fuel, petrol</p>
            <p>English speaking guide</p>
            <p>Park, Museum, Tickets</p>
            <p>Mineral water</p>
        </div>
    </div>
    <div class="roomListRoom" style="width:90%;margin-left: auto;margin-right: auto;display: block;text-align: center;">
        <div class="roomListRoom__content">
            <a>Price doesn't include:</a>
            <p>Travel insurance</p>
            <p>Air tickets</p>
            <p>Personal expenses</p>
            <p>Visa</p>
            <p>Alcohol</p>
            <p>Tax of bank</p>
            <p>Additional services not mentioned in the program</p>
        </div>
    </div>
</main>
<script src="/static/js/carousel.js"></script>
<!-- <script src="script.js"></script> -->
{% endblock %}